############################################################################################################
#
#  General Setting 
#    
############################################################################################################

general:
    config_version : v2.0
    platform: MT2625

############################################################################################################
#
#  Main Region Setting
#
############################################################################################################

main_region:
    address_type: physical
    rom_list:
        - rom:
            file: APPGS3MDM32A01.bin
            name: MTK_APP
            begin_address: 0x08292000


